@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html, body {
  max-width: 100%;
  width: 100vw;
  overflow-x: hidden; /* Evitar vazamento para os lados */
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #ffaaaa;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #F00;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  padding-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  max-width: 100%;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */

.publica,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public__main,
.login {
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1em 0;
}

.public__addr {
  padding-top: 1em;
}

.welcome a::before {
  content: "➜ ";
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  width:100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__container--small {
  max-width: 800px;
  background: #F00;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5em;
}

.dash-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow-x: auto; /* Permitir rolagem horizontal em tabelas */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table--products {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.table--categories {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 100%;
}

.form__checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
}

.form__input--status {
  height: auto;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

input {
  max-width: 100%;
}
.button {
  display: block;
  max-width:120px;
  margin:7px;
  padding: 0px; /* Ajuste o padding conforme necessário */
  font-size: 1rem;
  background-color: var(--BGCOLOR);
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  flex-grow: 0;   /* Não permite que o filho cresça */
  align-self: auto;
}

.button:hover {
  background-color: #45a049;
}

fieldset {
  max-width: 100%;
  border: 2px solid var(--COLOR);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 2rem;
}

label.custom-checkbox {
  display: flex;
  vertical-align: center;
  align-items: center;
  gap: 0.3rem;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-color: #eee;
  display: inline-block;
  border-radius: 4px;
  position: relative;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #2196F3;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}


/* Media Queries for Responsiveness */

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  .dash-header {
    max-width: 100%;
  }

  .dash-header__nav {
    gap: 0;
  }

  .dash-header__title {
    font-size: 1rem;
  }

  .icon-button {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }

  .dash-header {
    padding: 0 1em;
  }

  .dash-container {
    padding: 1em;
  }

  .table {
    font-size: 1.5rem;
  }

  .table--notes {
    grid-template-columns: repeat(2, 1fr) 2fr repeat(3, 1fr);
  }

  .note__created,
  .note__updated {
    display: block;
  }

  .form__action-buttons {
    position: static;
  }
}
